@font-face {
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?j07ndu')
  src:  url('../fonts/icomoon.eot?j07ndu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j07ndu') format('truetype'),
    url('../fonts/icomoon.woff?j07ndu') format('woff'),
    url('../fonts/icomoon.svg?j07ndu#icomoon') format('svg')
  font-weight: normal
  font-style: normal
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

.icon-address:before {
  content: "\e900"
}
.icon-approve:before {
  content: "\e901"
}
.icon-approvefill:before {
  content: "\e902"
}
.icon-downflag:before {
  content: "\e903"
}
.icon-downfull:before {
  content: "\e904"
}
.icon-favor_fill_light:before {
  content: "\e905"
}
.icon-fresh:before {
  content: "\e906"
}
.icon-h-favor:before {
  content: "\e907"
}
.icon-more:before {
  content: "\e908"
}
.icon-right:before {
  content: "\e909"
}
.icon-right_arrow_b:before {
  content: "\e90a"
}
.icon-search .path1:before {
  content: "\e90b"
  color: rgb(0, 0, 0)
}
.icon-search .path2:before {
  content: "\e90c"
  margin-left: -1em
  color: rgb(240, 116, 65)
}
.icon-search .path3:before {
  content: "\e90d"
  margin-left: -1em
  color: rgb(0, 0, 0)
}
.icon-search .path4:before {
  content: "\e90e"
  margin-left: -1em
  color: rgb(240, 116, 65)
}
.icon-search .path5:before {
  content: "\e90f"
  margin-left: -1em
  color: rgb(240, 116, 65)
}
.icon-setting:before {
  content: "\e910"
}
.icon-topflag:before {
  content: "\e911"
}
.icon-user:before {
  content: "\e912"
}
.icon-wrong:before {
  content: "\e913"
}
.icon-home3:before {
  content: "\e914"
}
.icon-box-add:before {
  content: "\e95e"
}
.icon-undo:before {
  content: "\e965"
}
.icon-undo2:before {
  content: "\e967"
}
.icon-search2:before {
  content: "\e986"
}
.icon-sphere:before {
  content: "\e9c9"
}
.icon-bookmark:before {
  content: "\e9d2"
}
.icon-play3:before {
  content: "\ea1c"
}
.icon-arrow-left2:before {
  content: "\ea40"
}
.icon-circle-up:before {
  content: "\ea41"
}
.icon-circle-right:before {
  content: "\ea42"
}
.icon-circle-down:before {
  content: "\ea43"
}
.icon-circle-left:before {
  content: "\ea44"
}
.icon-ctrl:before {
  content: "\ea50"
}
.icon-radio-checked2:before {
  content: "\ea55"
}
.icon-radio-unchecked:before {
  content: "\ea56"
}
.icon-paragraph-center:before {
  content: "\ea78"
}
.icon-wikipedia:before {
  content: "\eac8"
}
.icon-xing2:before {
  content: "\ead4"
}
